@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');
@import 'tailwindcss';

:root {
  --font-jetbrains-mono: 'JetBrains Mono', monospace;

  --font-size-preset-1: 2rem;
  --font-size-preset-1--line-height: 2.625rem;
  --font-size-preset-1--letter-spacing: 0px;

  --font-size-preset-2: 1.5rem;
  --font-size-preset-2--line-height: 2rem;
  --font-size-preset-2--letter-spacing: 0px;

  --font-size-preset-3: 1.125rem;
  --font-size-preset-3--line-height: 1.5rem;
  --font-size-preset-3--letter-spacing: 0px;

  --font-size-preset-4: 1rem;
  --font-size-preset-4--line-height: 1.25rem;
  --font-size-preset-4--letter-spacing: 0px;

  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-700: 3.5rem;
  --spacing-1000: 5rem;
  --spacing-1300: 6.5rem;
  --spacing-1600: 8rem;
  --spacing-2000: 10rem;
  --spacing-2200: 11rem;
  --spacing-2300: 11.5rem;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-grey-950: #08070b;
  --color-grey-900: #14131b;
  --color-grey-850: #1b171f;
  --color-grey-800: #24232c;
  --color-grey-700: #54535b;
  --color-grey-600: #807c92;
  --color-grey-200: #e6e5ea;

  --color-green-200: #a4ffaf;
  --color-yellow-300: #f8cd45;
  --color-orange-400: #fb7c58;
  --color-red-500: #f64a4a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--colors-gradient-1, linear-gradient(90deg, #14131b 0%, #08070b 100%));
  color: var(--color-white);
}

*::before,
*,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-jetbrains-mono);
}
